@import 'constant/color.scss';

.header {
  padding: 12px;
  border-bottom: 1px solid $BORDER_BOTTOM_COLOR;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  display: flex;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.logout{
  cursor: pointer;
  color: #7a0a0a;
}